server:
  port: 8080
spring:
  application:
    name: reggie_take_out
  shardingsphere:
    datasource:
      names: master,slave
      #主数据源
      master:
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: com.mysql.cj.jdbc.Driver
        url: jdbc:mysql://192.168.232.100:3306/reggie?characterEncoding=utf-8
        username: root
        password: Wdmm790268.
      #从数据源
      slave:
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: com.mysql.cj.jdbc.Driver
        url: jdbc:mysql://192.168.232.201:3306/reggie?characterEncoding=utf-8
        username: root
        password: Wdmm790268.
    masterslave:
      #读写分离配置
      load-balance-algorithm-type: round_robin #轮询
      #最终的数据源名称
      name: dateSource
      #主库数据源名称
      master-data-source-name: master
      #从库数据源名称，多个逗号分隔
      slave-data-source-names: slave
    props:
      sql:
        show: true #开启sql显示
  main:
    allow-bean-definition-overriding: true #允许bean覆盖
  #datasource:
    #druid:
      #driver-class-name: com.mysql.cj.jdbc.Driver
      #url: jdbc:mysql://localhost:3306/reggie?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull&useSSL=false&allowPublicKeyRetrieval=true
      #username: root
      #password: Wdmm790268.
      #password: 790268
  #redis
  redis:
    host: localhost
    password: 790268
    port: 6379
    database: 0
  cache:
    redis:
      time-to-live: 1800000 #缓存有效期


mybatis-plus:
  configuration:
    #在映射实体或者属性时，将数据库中表名和字段名中的下划线去掉，按照驼峰命名法映射
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      id-type: ASSIGN_ID

#阿里云OSS
aliyun:
  oss:
    endpoint: https://oss-cn-beijing.aliyuncs.com
    accessKeyId: LTAI5tSYe4foiKnXxBUuQTsr
    accessKeySecret: IhIN6Yp0FfqZQG7CiIjYr0zNjDNtmc
    bucketName: tlias-joker